@{
    ViewData["Title"] = "Home Page";
}

<div class="theme-page-wrapper pb-0">
    <main class="welcome">
        <div class="welcome-container">
            <h1 class="fs-54 mb-26">
                Welcome to <span class="appellation underlined-md">Appellation</span>
            </h1>
            <a class="cross-button__large" asp-controller="SongRecommendations" asp-action="Index">Get Started</a>
        </div>
    </main>
</div>