
<div class="theme-page-wrapper pb-0">
    <main class="welcome">
        <div class="welcome-container">
            <h1 class="fs-54 mb-26">
                Login to <span class="spotify">Spotify</span> to get started with <span class="appellation underlined-md">Appellation</span>
            </h1>
            <a class="cross-button__large" asp-controller="Home" asp-action="Challenge">Log In</a>
        </div>
    </main>
</div>