
<div class="base-page-wrapper">
    <main class="login">
        <div class="login-container">
            <div>
                <h1 class="page-title-sm">
                    Login to <span class="spotify">Spotify</span> to get started with <span class="appellation underlined-md">Appellation</span>
                </h1>
            </div>
            <div>
                <a class="cross-button" asp-controller="Home" asp-action="Challenge">Log In</a>
            </div>
        </div>
    </main>
</div>