/* Global Style Elements */

.spotify {
    font-weight: bolder;
    color: var(--theme-green-dark)

}

.appellation {
    font-weight: lighter;
    background: linear-gradient(to right, var(--theme-accent-light), var(--theme-accent-med));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    --theme-bg-light: #3D3D3D;
    --theme-bg-med: #1F1F1F;
    --theme-bg-dark: #000000;
    --theme-green-dark: #1ED760;
    --theme-green-med: #1FDF64;
    --theme-green-light: #C3F0C8;
    --theme-accent-light: #E3D7EE;
    --theme-accent-med: #B49BC7;
    --theme-accent-dark: #503750;
    --theme-col-accent: #C4B1D4;
    --theme-txt-col: #ebebeb;
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family: 'inter';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.base-page-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--theme-bg-dark);
    height: 100vh;
    width: 100vw;
}

/*layout*/

.page-intro-cont {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 90px 0px;
}

.page-title-md {
    font-size: 65px;
    color: var(--theme-txt-col);
    margin: 0px;
    padding: 24px;
}

.page-title-lg {
    font-size: 110px;
    padding: 24px;
    margin-bottom: 45px
}

/*text*/

.page-title-sm {
    font-size: 54px;
    padding: 40px;
    margin-bottom: 35px;
    text-align: center;
}

.underlined-md {
    position: relative;
    display: inline-block !important;
}

    .underlined-md::before {
        content: "";
        position: absolute;
        bottom: -38px;
        left: 0;
        height: 35px;
        width: 100% !important;
        border: solid 6px yellow;
        border-color: var(--theme-txt-col) transparent transparent transparent;
        border-radius: 50%;
    }

.underlined-lg {
    position: relative;
    display: inline-block !important;
}

    .underlined-lg::before {
        content: "";
        position: absolute;
        bottom: -68px;
        left: 0;
        height: 60px;
        width: 100% !important;
        border: solid 8px yellow;
        border-color: var(--theme-txt-col) transparent transparent transparent;
        border-radius: 50%;
    }


/*misc*/


.theme-button {
    margin: 12px;
    padding: 12px;
}

    .theme-button a {
        text-decoration: none;
        background-color: var(--theme-accent-light);
        border: 1px solid var(--theme-bg-light);
        color: var(--theme-bg-light) !important;
        font-size: 20px;
        padding: 6px 30px;
        border-radius: 25px;
    }

        .theme-button a:hover {
            background-color: var(--theme-bg-light);
            color: var(--theme-accent-light) !important;
            border: 1px solid var(--theme-accent-light);
        }


/*color pallet*/

.pallet {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}