

/*-- MAIN START --*/

/*MAIN -- additional recommendation filters*/

#get-started {
    width: 100%;
}

aside.theme-container {
    width: calc(100% - var(--seed-container-width) - 26px);
    box-sizing: border-box;
}

.aside__limit-input {
    background: var(--theme-bg-light);
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(255 255 255 / 70%);
    color: var(--theme-txt-col);
    width: 8%;
    text-align: center;
}

    .aside__limit-input:hover {
        border: none;
        border-bottom: 1px solid rgb(255 255 255);
        color: rgb(255 255 255);
    }

    .aside__limit-input:focus-within {
        outline:none;
        color: rgb(255 255 255);
        border-bottom: 2px solid #66b2ff;
    }

.aside__coming-soon {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    color: rgb(255 255 255 / 70%);
}

/*MAIN -- seed inputs/primary filters*/

.seed-label {
        width: 50%;
        align-items: center;
        margin-bottom: 12px;
    }

.seed-label__plus-bttn {
    margin-left: 14px;
    font-size: 22px;
    border: none;
    background-color: var(--theme-bg-light);
    color: #52d273;
    opacity: 95%;
    padding: 0px;
    font-weight: bold;
}

    .seed-label__plus-bttn:hover {
        color: var(--theme-txt-col);
    }

.js-seed-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: var(--theme-bg-light);
    border-bottom: 1px solid rgb(255 255 255 / 70%);
    padding: 5px;
    --inter-width: 0px;   
    color: var(--theme-txt-col);
}

    .js-seed-cont:hover {
        border-bottom: 1px solid rgb(255 255 255);
    }

    .js-seed-cont:focus-within {
        border-bottom: 2px solid #66b2ff;
    }

    .js-seed-cont > input {
        background: var(--theme-bg-light);
        font-size: 14px;
        border: none;
        color: var(--theme-txt-col);
        /*background-color: var(--theme-txt-col);    
        font-size: 14px;
        width: calc(100% - var(--inter-width));*/
    }

        .js-seed-cont > input:focus-visible {
            border: none;
            outline: none;
        }

        .js-seed-cont > input::placeholder {
            color: rgb(255 255 255 / 70%);
        }

/*MAIN -- indiv seed is within seed cont*/

.js-seed-cont__seed-inter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.js-individual-seed {
    padding: 0px 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #66b2ff;
    border: 1px solid rgb(0, 89, 178);
    border-radius: 8px;
    background-color: hsl(210.26deg 100% 22.94% / 40%);
}

    .js-individual-seed > span {
        padding-right: 2px;
        text-align: center;
    }

    .js-individual-seed > button {
        border: none;
        background-color: hsl(210.26deg 100% 22.94% / 0%);
        color: #e95065;
    }

        .js-individual-seed > button:hover {
            color: var(--theme-txt-col);
        }

/*-- MAIN END -- */

/* -- RECOMMENDATIONS GIVEN -- */

main:has(div.track-recommendations) > #js-generate {
    display: none;
}

main:has(div.track-recommendations) > #js-generate #first-submit {
    display: none;
}

main:has(div.track-recommendations) > #js-generate > #recommendation-filters {
    margin-bottom: 0px;
}

main:has(div.track-recommendations) {

}

#js-hide-generate {
    display: none;
    width: 55%;
}


/* -- TRACK RECOMMENDATIONS -- */

.track-recommendations {
    width: 100%;
}

.card {
    margin: 18px;
    background-color: /*#333333*/ #292929;
    color: var(--theme-txt-col);
    text-decoration: none;
    width: 325px;
   /* box-shadow: 0px 2px 6px 3px #0A0A0A;*/
    box-shadow: 0px 1px 6px 1px #141414;
}

div.card-body > * {
    margin-bottom: 12px;
}

.card-body {
    padding: 25px;
}

.card-subtitle {
    color: #B3B3B3;
    font-size: 17px;
    margin-top: -0.5rem;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

a:not([href]) {
    opacity: 45%;
    color: #E0E0E0;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.preview {
    border: none;
    background-color: none;
    color: #e95065;
    text-decoration: none;
}

    .preview:hover {
        color: var(--theme-bg-dark);
    }
