/*
    background - #FAF0CA;

*/

html {
}

.song-rec-wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--theme-bg-med);
    width: 100vw;
    padding-bottom: 150px;
    --seed-container-width: 55%;
}

main.recommendations {
    width: 75%;
    text-align: left;
}

#get-started {
    background-color: var(--theme-bg-light);
    margin-top: 100px;
    margin-bottom: 24px;
    padding: 24px;
    width: 55%;
    border-radius: 4px;
    color: var(--theme-txt-col);
}

.page-heading {
    font-size: 42px;
    margin-bottom: 38px;
    font-weight: bold;
    /*color: #e95065;*/
    color: #46bddf;
}

.recommendation-instructions {
    font-size: 18px;
    color: var(--theme-txt-col);
}

.seed-input-container {
    background-color: var(--theme-bg-light);
/*    margin-right: 24px;
*/    padding: 24px;
    width: var(--seed-container-width);
    border-radius: 4px;
    color: var(--theme-txt-col);
    font-size: 17px;
}

.master-container {
    color: var(--theme-txt-col);
    margin-bottom: 26px;
}

    .master-container > div:first-child {
        width: 50%;
        align-items: center;
        margin-bottom: 12px;
    }

    .master-container > label {
        font-size: 18px;
    }

.add-seed-bttn {
    margin-left: 14px;
    font-size: 22px;
    border: none;
    /*background-color: #52d273;*/
    background-color: var(--theme-bg-light);
    color: #52d273;
    opacity: 95%;
    padding: 0px;
    font-weight: bold;
}

    .add-seed-bttn:hover {
        color: var(--theme-txt-col);
    }

.master-seed-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--theme-txt-col);
    padding: 5px;
    border-radius: 4px;
    --inter-width: 0px;
}

    .master-seed-div > input {
        background-color: var(--theme-txt-col);
        border: none;
        font-size: 14px;
        width: calc(100% - var(--inter-width));
    }
    
    .master-seed-div > input:focus-visible {
        border: none;
        outline: none;
    }

.seed-inter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    align-items: center;
}

.individual-seed {
    padding: 0px 5px;
    margin-right: 5px;
    font-size: 14px;
    color: var(--theme-bg-dark);
    border: 1px solid var(--theme-bg-dark);
    border-radius: 8px;
}

    .individual-seed > span {
        padding-right: 2px;
        text-align: center;
    }

    .individual-seed > button {
        border: none;
        background-color: none;
        color: #e95065;
    }

    .individual-seed > button:hover {
        color: var(--theme-bg-dark);
    }


.extra-recommendation-filters {
    background-color: var(--theme-bg-light);
    width: calc(100% - var(--seed-container-width) - 24px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--theme-txt-col);

}

.extra-recommendation-filters > .coming-soon {
    height: 12%;
    width: 100%;
    background-color: var(--theme-bg-med);
    border-radius: 4px;
    opacity: 82%;
}