
/* -- additional recommendation filters -- */

#get-started {
    width: 100%;
}

aside.theme-container {
    width: calc(100% - var(--seed-container-width) - 26px);
    box-sizing: border-box;
}

.aside__limit-input {
    background: var(--theme-bg-light);
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgb(255 255 255 / 70%);
    color: var(--theme-txt-col);
    width: 8%;
    text-align: center;
}

    .aside__limit-input:hover {
        border: none;
        border-bottom: 1px solid rgb(255 255 255);
        color: rgb(255 255 255);
    }

    .aside__limit-input:focus-within {
        outline:none;
        color: rgb(255 255 255);
        border-bottom: 2px solid #66b2ff;
    }

.aside__coming-soon {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    color: rgb(255 255 255 / 70%);
}

/* -- seed inputs/primary filters -- */

#artist-input {
    width: calc(99% - var( --artist-seed-intermediary-width));
    min-width: 15%;
}

#track-input {
    width: calc(99% - var( --track-seed-intermediary-width));
    min-width: 15%;
}

#genre-input {
    width: calc(99% - var( --genre-seed-intermediary-width));
    min-width: 15%;
}

.seed-label {
        width: 50%;
        align-items: center;
        margin-bottom: 12px;
    }

.seed-label__plus-bttn {
    margin-left: 14px;
    font-size: 22px;
    border: none;
    background-color: var(--theme-bg-light);
    color: #52d273;
    opacity: 95%;
    padding: 0px;
    font-weight: bold;
}

    .seed-label__plus-bttn:hover {
        color: var(--theme-txt-col);
    }

.js-seed-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: var(--theme-bg-light);
    border-bottom: 1px solid rgb(255 255 255 / 70%);
    padding: 5px;
    color: var(--theme-txt-col);
}

    .js-seed-cont:hover {
        border-bottom: 1px solid rgb(255 255 255);
    }

    .js-seed-cont:focus-within {
        border-bottom: 2px solid #66b2ff;
    }

    .js-seed-cont > input {
        background: var(--theme-bg-light);
        font-size: 14px;
        border: none;
        color: var(--theme-txt-col);
    }

        .js-seed-cont > input:focus-visible {
            border: none;
            outline: none;
        }

        .js-seed-cont > input::placeholder {
            color: rgb(255 255 255 / 70%);
        }

/* -- seed intermediary -- */

.js-seed-cont__seed-inter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.js-individual-seed {
    padding: 0px 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #66b2ff;
    border: 1px solid rgb(0, 89, 178);
    border-radius: 8px;
    background-color: hsl(210.26deg 100% 22.94% / 40%);
}

    .js-individual-seed > span {
        padding-right: 2px;
        text-align: center;
    }

    .js-individual-seed > button {
        border: none;
        background-color: hsl(210.26deg 100% 22.94% / 0%);
        color: #e95065;
    }

        .js-individual-seed > button:hover {
            color: var(--theme-txt-col);
        }

/* -- RECOMMENDATIONS GIVEN -- */

main:has(div.track-recommendations) > #js-generate {
    display: none;
}

main:has(div.track-recommendations) > #js-generate #first-submit {
    display: none;
}

main:has(div.track-recommendations) > #js-generate > #recommendation-filters {
    margin-bottom: 0px;
}

main:has(div.track-recommendations) {

}

#js-hide-generate {
    display: none;
    width: 55%;
}

.track-recommendations {
    width: 100%;
}

/* -- Media Quieries -- */

@media screen and (max-width: 1080px) {

    #recommendation-filters {
        flex-direction: column-reverse;
    }

        #recommendation-filters > div, aside.theme-container {
            width: 100%;
            margin: 0px 0px 26px 0px !important;
        }

    .aside__coming-soon {
        display: none;
    }

    #artist-input {
        min-width: 25%;
    }

    #track-input {
        min-width: 25%;
    }

    #genre-input {
        min-width: 25%;
    }
}

@media screen and (min-width: 425px) and (max-width: 625px) {
    #artist-input {
        min-width: 25%;
    }

    #track-input {
        min-width: 25%;
    }

    #genre-input {
        min-width: 25%;
    }
}

@media screen and (max-width: 425px) {
    #song-generator {
        display: flex;
        justify-content: center;
    }

    .seed-label {
        justify-content: space-between;
        width: 100%;
    }

    aside > div {
        flex-direction: column;
        margin: 0px !important;
    }

        aside > div > input {
            margin: 0px !important;
        }

        aside > div > label {
            margin-bottom: 12px;
        }

    #artist-input {
        min-width: 50%;
    }

    #track-input {
        min-width: 50%;
    }

    #genre-input {
        min-width: 50%;
    }
}