
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<div class="page-wrapper">
    <main>
        <div class="login-container">
            <div>
                <h1>
                    Login to <span id="spotify" style="color: var(--theme-green-dark)">Spotify</span> to get started with <span id="appellation">Appellation</span>
                </h1>
            </div>
            <div class="cross-button">
                <a asp-controller="Login" asp-action="Auth">Login</a>
            </div>
        </div>
    </main>
</div>